/**  RAHUL SINGH   **/
@font-face {
	  font-family: vivafont;
	  src: url(rene-bieder-milliard.otf);
	}
	body, p, h1, h2, h3, h4, h5, h6, span, div, table, a{
		font-family: 'vivafont'!important;
		color: #333;
	}
	.blog-page{
		padding-top: 30px;
	}
	.sin-up-content a {
	        display:inline;
	    }
	    .customcheckbox{
	        transform: scale(2.0);
	    -webkit-transform: scale(2.0);
	    }
		.cat-post li {
    font-size: 16px;
    
    font-family: 'Museo-300';
}
.viva-packages {
     flex: 0 0 50.666667%;
    max-width: 49.666667%;
}
.sin-upc-event-two {
    box-shadow: 0px 0px 5px 0px rgb(66 66 66 / 23%);
    border-radius: 8px;
    overflow: hidden;
}
.sin-up-content {
    padding: 5px 30px;
    position: relative;
}
.toptitle{
	display: block;
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #d86838;
}
.sin-up-content a {
    display: block;
}
    .bdr-8{
        border-radius: 8px;
    }


.toptitle span{
	font-weight: normal;
    font-size: 14px;
    color: #666;
}
.toplinner { 
	margin: 0 0 25px 0;
    border: 0;
    height: 1px;
    background: transparent;
    position: relative;
    border-bottom: 1px dashed #c7c7c7;
		} 

.toplinner:after{
	content: "";
    position: absolute;
    left: 0;
    height: 4px;
    background: #d86838;
    width: 80px;
    top: -1px;
    border-radius: 39px;
}
.steprow{
	background-color: #FFFFFF;
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px dotted #ff703c;
    margin-bottom: 30px;
    margin-left: 0;
}
.steparea{
	margin-bottom: 20px;
}
.stepis, .steptitle{
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	line-height: 28px;
}
.stepis{
	width: 30px;
    height: 30px;
    color: #FFF;
    background-color: #d86838;
    text-align: center;
    border-radius: 100%;
    margin-right: 10px;
}

.stepoptionarea{
	text-align: center;
}
.selector{
	margin-top: 20px;
}
.stepicon{
	width: 50px;
    float: right;
}
.stepdescrea{
	text-align: left;
}
.stepdescrea strong{
	font-size: 16px;
}
.stepselection{
	    background-color: #f1f1f1;
    max-width: 90%;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px dotted #999999;
    cursor: pointer;
}
.activearea{
	background-color: #fdf2ee;
	border-color: #d86838;
}
.activearea strong{
	color: #d86838;
}
.billedyer{
	float: right;
	font-weight: bold;
	color: #d86838;
}
.packagelisttitle .titlebox{
	width: 15%;
	float: left;
	text-align: center;
	font-weight: bold;
}
.packagelistdetail{
	border-top: 1px solid #dcdada;
	border-left: 1px solid #dcdada;
	border-right: 1px solid #dcdada;
	border-bottom: 1px solid #dcdada;
}
.packagelistdetail:last-child{
	border-bottom: 1px solid #dcdada;
}
.packagelistdetail .listbox{
	width: 15%;
	float: left;
	text-align: center;
	border-left: 1px solid #dcdada;
    padding: 20px 0;
    min-height: 75px;
}
.packagelistdetail .listbox:first-child{
	border-left: 0px;
}
.packagelistdetail .listbox:last-child, .packagelisttitle .titlebox:last-child{
	width: 10%;
}
.packagelisttitle .titlebox:first-child, .packagelistdetail .listbox:first-child{
	width: 25%;
}
.packagelistdetail .listbox:nth-child(2), .packagelisttitle .titlebox:nth-child(2), .packagelistdetail .listbox:nth-child(3), .packagelisttitle .titlebox:nth-child(3){
	width: 18%;
}
.packagelistdetail .listbox:nth-child(4), .packagelisttitle .titlebox:nth-child(4){
	width: 11%;
}
.packagelistdetail .listbox:nth-child(5), .packagelisttitle .titlebox:nth-child(5){
	width: 13%;
}
.packagelisttitle{
	margin-bottom: 10px;
}
.shortdesc{
	    font-size: 12px;
    width: 100%;
    padding: 5px 0 15px 0;
    color: #d86838;
    text-align: center;
}
.addcartbutton{
	margin: 0;
    font-size: 12px;
    background-color: #d86838;
    color: #FFF;
    padding: 9px;
    border-radius: 2px;
    cursor: pointer;
}
.emptycartarea{
	display: block;
	text-align: center;
}
.emptycartarea i{
	display: block;
    font-size: 100px;
    color: #ccc;
}
.emptycartarea strong{
	display: block;
	padding: 10px 0;
	font-size: 22px;
}
.emptycartarea p{
	padding: 10px 0;
}
.cart-plus-minus-button{
	margin: auto;
    padding: 0;
    width: 100px;
    float: initial;
}
.qtybutton{
	width: 30px;
    height: 30px;
}
.cart-plus-minus{
	    width: 40px;
    height: 30px;
}
.studentqty{
	display: block;
    width: 30px;
    margin: auto;
    text-align: center;
    border: 1px solid #ccc;
}
/** RAHUL SINGH **/